In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math
import time
import sys
import os
from scipy.signal import savgol_filter
from scipy.interpolate import interp1d
from tqdm import tqdm
sys.path.append(os.path.join(os.getcwd(), "..", ".."))
from support.omniwheel_calculation import *
from datetime import datetime
from support.pd_support import *
from support.calculations_support import *
from support.ar_calculations import *
from numba import njit
import polars as pl
from scipy.signal import find_peaks
from scipy.signal import peak_widths
from scipy.signal import peak_prominences
from support.imu_calculations import *

In [2]:
_txt_pth = r"C:\Users\CMC\Documents\openposelibs\pose\armbo\simulation\ipy_notebooks\encoder_data\test1.txt"

In [4]:
df = pd.read_csv(_txt_pth, names=['enc','cycle','nothing'], sep=' ')
df

           enc  cycle  nothing
0      -134293    -13        1
1      -134292    -13        1
2      -134293    -13       -1
3      -134294    -13       -1
4      -134295    -13       -1
...        ...    ...      ...
274715  198859     20        1
274716  198860     20        1
274717  198861     20        1
274718  198862     20        1
274719  198863     20        1

[274720 rows x 3 columns]

In [25]:
seperated = df.groupby(df.cycle)

val = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

for val in val:

    print(seperated.get_group(val).enc.iloc[0] - seperated.get_group(val).enc.iloc[-1])

-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999
-9999